<div class="marks">

  <div class="buttons btn-back-to-plants">
    <%= link_to "<< Back to plants", plants_path, class: "btn btn-ghost" %>
  </div>

  <div class="mark-titles">
    <h1>Marks & Matches</h1>
    <p>Here's the list of your Matches</p>
  </div>
  <div class="my-marks">
    
  </div>
</div>
