.search-container {
  height: 12vh;
}

.middler{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 68vh;
  flex-direction: column;
  width: 100vw;
  background: transparent;
}

.search-form {
  display: flex;
  align-items: center;
  margin: 16px auto;
  width: 70vw;

  .fa-map {
    color: #6d7d70;
  }

  .fa-leaf {
    font-size: 24px;
  }

  h3 {
    font-family: 'Ubuntu', sans-serif;
  }
}





.icon-wrapper {
  display: flex;
  // // flex-direction: column;
  justify-content: center;
  // align-items: center;

  i, a, form, .btn {
    height: 45px !important;
    width: 50px !important;
  }

  .fa-regular {
    transform: translateY(-4px);
  }

  .btn {
    padding: 0 !important;
  }
}

.middler{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  width: 100vw;
  height: 100vh;
}

.plant-card {
  display: inline-block;
  width: 73%;
  height: 79%;
/*   border: 1px solid #CCC; */
  margin-bottom: 90px;


}

.card {
  position: relative;
  background-color: #ccd7ce;;
  right: 21px;
  bottom: -11px;
  width: 113%;
  height: 80%;
  cursor: pointer;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 1s;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card.is-flipped {
  transform: translateX(-100%) rotateY(-180deg);
}

.backcard{
  position: absolute;
  width: 100%;
  height: 100%;
  color: white;
  backface-visibility: hidden;
  background-color: blue;
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  color: white;
  backface-visibility: hidden;
}

.plant-bg {
  height: 88%;
  width: 100%;
  // background-image: url("https://images.unsplash.com/photo-1491147334573-44cbb4602074?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1587&q=80");
  background-size: cover;
  background-position: center;
  border-radius: 20px 20px 0 0;
  height: 81%;
  background-position: center;
  background-repeat: none;
  background-size: cover;
}

.plant-bg-back{
  width: 355px;
  height: 588px;
  // background-image: url("https://images.unsplash.com/photo-1491147334573-44cbb4602074?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1587&q=80");
  background-size: cover;
  background-position: center;
  border-radius: 20px 20px 0 0;
  background-position: center;
  background-repeat: none;
  background-size: cover;
  opacity: 0.5;


}

.backcard-description {
  position: relative;
  left: 22px;
  top: -493px;
  font-family: 'Ubuntu', sans-serif;
}

.plant-action{
  width: 100%;
  height: 12%;
  display: flex;
  align-items: center;

  position: absolute;
  border: 1px solid #98AC9C;
  border-radius: 24px;
  background: #94AB96;
  // opacity: 0.9;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 64px;
  position: relative;
  bottom: 23px;
}

.buttons-name{
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  top: 10px;

  h6 {
    font-size: 35px;
    font-family: 'Playfair Display SC';
    color: rgb(34, 43, 33);
  }
}

.icons{
  display: flex;
  align-items: center;
  position: relative;
  top: 3px;
  --bs-btn-border-width: 0px;

    .fa-heart {
      color: whitesmoke;
    font-size: 48px;

  }

  .fa-compass {
    color: whitesmoke;
    font-size: 48px;
  }
}

// .user-avatar{
//   width: 30%;
//   height: 100%;
// }

.card__face--front {
  background: #94AB96;
}

.backcard--back {
  background: #94AB96;
  transform: rotateY(180deg);

}

.transform{
  transform: none;
}


.flipreverse{
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);

  display: flex;
  align-items: flex-start;
  flex-direction: column;
  // position: relative;
  // top: 95px;
  // right: 114px;

  h3, h4, h5 {
    color: rgb(34, 43, 33);
    font-size: 35px;
  }
}
