.grid-cards {
  padding: 0 10% 5% 10%;
  display: grid;
  justify-items: center;
  gap: 24px;
  margin: 0 auto;
  margin-bottom: 48px;

}

.no-results-found {
  grid-column: 1 / span 2;
  width: 100%;
}

.no-results-found h2 {
  margin: 0 auto;
  color: rgb(172, 20, 219);

}

.content-card {

  background-color: #94AB96;
}
.card-body {
  background-color: #94AB96;
}

.sprouts-name{
  opacity: 0.7;
  margin: 0 auto;
  font-family: 'Nunito';

}

.logo-sprouts {
  margin: 60px auto;
  color:rgb(11, 79, 66);
  text-align: center;
  font-size: larger;
  font-weight: bold;

}

.logo-container {
  padding: 8px 0;
  max-width: 200px;
}

.logo-image {
  margin-bottom: 16px;
  transform: scaleX(1) rotate(45deg);
}

.sprouts-text {
  color:rgb(10, 126, 126);
  font-weight: 500;
  padding-left: 8px;

}

.mycard {


  border: 1px solid #98AC9C;
  border-radius: 16px;
  border-radius: 11px;
  background: rgba(70, 121, 70, 0.3);
  // opacity: 0.9;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 64px;
  backdrop-filter: blur(2px);

  h2 {

    width: 100px;
    height: 19px;
    position: relative;
    top: 4px;
    left: 2px;

    // font-family: 'Playfair Display';
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: rgb(34, 43, 33);

  }

}

.card-name {
  position: relative;
  left: 18px;
  top: 1px;
}

.buttons-card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  right: 5px;
  bottom: 5px;

    .fa-heart {
      color: #ffffff;
    }

    .fa-compass {
      color: #ffffff;
  }
}

.toggle-buttons {

}

.button-swipe {
  position: absolute;
  top: 22px;
  right: 12px;
  /* margin: 0 auto; */
  color: whitesmoke;
}

a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.card-content {
  margin: 10px 0 0 10px;
  width: 300px;
  height: 400px;
  position: relative;
  border-radius: 16px 16px 13px 13px;
  // background-image: url(https://images.unsplash.com/photo-1491147334573-44cbb4602074?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1587&q=80);
  display: flex;
  flex-direction: column;
  border: 1px solid #98AC9C;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);

  .img-card {
    width: 100%;
    height: 100%;
    border-radius: 16px;
    position: relative;
    top: 1px;
  }

  .mycard {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    height: auto;
    max-height: 100%;
  }

}

.card-content > img {
  object-fit: cover;
  height: 100%;
  // height: 241px;
  width: 100%;
  border-radius: 10px 10px 16px 16px;
  position: relative;

}

.form-control {
  border-radius: 24px 0 0 24px;
  font-family: 'Ubuntu';
  height: 36px;
  padding: 6px 12px;
}



.text-center {
  color: #063131;
}

.btn-sprouts {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 24px 24px 0;
  border: 1px solid #98AC9C;
  background: #94AB96;
  padding: 6px 12px;
  height: 36px;
}

.btn-map {
  padding: 6px 6px;
  height: 44px;
}

.fa-location-dot {
  color: #94AB96;
}

.fa-leaf {
  color: #ffffff;
  padding: 5px;

}


.body-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: #ccd7ce;
}

.page-container {
  min-height: 100vh;
  width: 100%; // change from 600px to 100%
  margin: 0 auto;
}


body {
  background: #ccd7ce;
  // min-height: max-content;
}

html {
  height: 100%;
  background: #ccd7ce;
}
