.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
  margin: 12px;
  margin-right: 20px;
}
.sprouts-name{
  opacity: 0.5;
  margin-left: 142px;
  font-family: 'Ubuntu', sans-serif;

}

.logo-sprouts {
  margin: 60px auto;
  color:rgb(11, 79, 66);
  text-align: center;
  font-size: larger;
  font-weight: bold;

}
.mycard {
  position: absolute;
  border: 1px solid #98AC9C;
  border-radius: 16px;
  border-radius: 11px;
  background: #94AB96;
  // opacity: 0.9;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 64px;
  position: relative;
  // top: 3px;
  top: 242px;

  h2 {

    width: 100px;
    height: 19px;
    position: relative;
    top: 4px;
    left: 2px;

    // font-family: 'Playfair Display';
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: rgb(34, 43, 33);

  }

}

.card-name {
  position: relative;
  left: 18px;
  top: 1px;
}

.buttons-card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  right: 5px;
  bottom: 5px;

    .fa-heart {
      color: #063131;
    }

    .fa-compass {
      color: #063131;
  }
}


a {
  color: rgb(34, 43, 33);
  text-decoration: none;
}

.content {
  margin: 10px 0 0 10px;
  width: 180px;
  height: 241px;
  border-radius: 16px 16px 13px 13px;
  // background-image: url(https://images.unsplash.com/photo-1491147334573-44cbb4602074?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1587&q=80);
  display: flex;
  flex-direction: column-reverse;
  border: 1px solid #98AC9C;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);

  .img-card {
    width: 178px;
    border-radius: 16px;
    position: relative;
    top: 1px;
  }

}

.content > img {
  object-fit: cover;
  height: 200px;
  // height: 241px;
  width: 100%;
  border-radius: 10px 10px 16px 16px;

}

.form-control {
  border-radius: 24px 0 0 24px;
  font-family: Dosis;
}

.text-center {
  color: #063131;
}

.btn-sprouts {
  border-radius: 0 24px 24px 0;
  border: 1px solid #98AC9C;
  background: #94AB96;
  padding: 10px;
}

.btn-map {
  padding: 16px;
}

.fa-location-dot {
  color: #94AB96;
}

.fa-leaf {
  color: #ffffff;
  padding: 5px;

}

.fa-map {
  color: rgb(7, 106, 88);
}

.body-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 100px;
  background: #ccd7ce;
}

body {
  background: #d2ded4;
}
