#map-card {
  height: calc(100vh - 250px); /* Subtract the height of any headers or footers */
  width: 100%;
  display: flex;
  position: relative;
  margin: 20px auto;
  border: 6px solid #84d59c;
}

.mapbox {
  margin: 0 auto;
  width: 90%; /* Take up the entire width of the parent container */
  height: 70vh;
}

.nav-buttons {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  margin: 12px 2px;
}

.nav-buttons a {
  width: 250px;
  padding: 6px 6px;
  background-color: rgba(132, 213, 156, 0.456);
  color: whitesmoke;
  font-family: 'Ubuntu', sans-serif;
}
