#map-card {
  height: 63vh; /* Subtract the height of any headers or footers */
  width: 100%;
  display: flex;
  position: relative;
  margin: 16px auto;
  border: 6px solid #84d59c;
}

.mapbox {
  margin: 0 auto;
  width: 90%; /* Take up the entire width of the parent container */
  height: 63vh;
}

.nav-buttons {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  margin: 12px 2px;
}

.nav-buttons a {
  width: 250px;
  margin: 20px auto;
  padding: 6px 6px;
  background-color: rgba(132, 213, 156, 0.456);
  color: whitesmoke;
  font-family: 'Ubuntu', sans-serif;
}

.nav-buttons a:hover {
  width: 250px;
  padding: 6px 6px;
  background-color: rgba(120, 239, 156, 0.456);
  color: white;
  font-family: 'Ubuntu', sans-serif;
}
