.marks {
  background: #94AB96;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: calc(100vh - 40px);
}


.marks-container,
.matches-container {
  display: flex;
  flex-direction: column;
  background: #d3ded4;
  border-radius: 100px;
  width: 100%;
  box-sizing: border-box;
}

.matches-container {
  align-items: flex-end;
}

.mm-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  width: 100%;
  height: calc(100% - 100px);
  margin: 40px 0 0 0;
  padding: 20px 50px 40px 50px;
  background: #d3ded4;
  border-radius: 100px 0 0 0;

  .carousel-marks {
    // position: relative;
    // top: 190px;


    .description-marks {
      position: relative;
      bottom: 106px;
      left: 58px;
    }
  }
}


.mm-title {
  display: flex;
  position: relative;
  top: 20px;

  h1 {
    position: relative;
    left: 36px;
    top: 12px;
    // font-family: 'Playfair Display SC';
    font-family: 'Ubuntu', sans-serif;
    font-size: 38px;
    color: whitesmoke;
  }

  p {
    position: relative;
    top: 47px;
  }
}

.plant-mark-1 {
  height: 130px;
  width: 130px;
  border-radius: 50%;
  object-fit: cover;
  background-position: 10px;
  position: relative;
  left: 27px;
  box-shadow: 0 0 15px rgba(0,0,0,0.4);

  h5 {
    position: relative;
    top: 48px;
    right: 60px;
    color: #112525;
    font-family: 'Ubuntu', sans-serif;

  }

  h1 {
    position: relative;
    top: 35px;
    left: 89px;
    color: #FF98A7;
    font-size: 24px;
  }
}

.plant-mark-2 {
  height: 130px;
  width: 130px;
  border-radius: 50%;
  object-fit: cover;
  background-position: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.4);


  h5 {
    position: relative;
    top: 48px;
    left: 32px;
    color: #112525;
    font-family: 'Ubuntu', sans-serif;

  }
}

#your-marks h1 {
  float: left;
}

.matches-disp {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.carousel {
  overflow: hidden;
  width: 150px;
}



#carouselMarks {
  float: left;
}

.carousel-item .active {
  overflow: hidden;
  width: 150px;
}

.carousel-item {
  overflow: hidden;
  width: 150px;
}

.m-title {

  color: rgb(174, 37, 174);
  font-family: 'Ubuntu', sans-serif;
  float: right;
}
