.input-form-new-plant {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  border-radius: 15px;
  color: rgba(60, 60, 60, 0.8);
}

.form-label {
  margin: 0 auto;
  text-align: center;
}

.form-column {
  background-color: rgba(204, 215, 206, 1);
  border-radius: 18px;
  box-shadow: 0 0.5rem 1rem rgba(59, 58, 58, 0.15) !important;
  overflow: hidden;
  margin: 24px;
}

.form-column h3 {
  font-size: 24px;
  text-align: center;
  margin: 12px auto 0 auto;
}

.form-select {
  border-radius: 12px;
  width: 220px;
  height: 40px;
  background-color: white;
  font-size: 16px;
  color: rgba(60, 60, 60, 0.8);
}

.input-size {
  width: 220px;
  height: 40px;
  text-align: center;
  margin: 16px auto;
  padding: 8px 0;
  border: none;
  border-radius: 12px;
  color: rgba(60, 60, 60, 0.8);
}

.label .string {
  margin: 4px auto 12px auto;

}
.input-size-location {
  width: 220px;
  height: 40px;
  text-align: center;
  margin: 10px auto 0px auto;
  border-radius: 12px;
  height: 40px;
  border: none;
}

#tame_form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 85vh;
}

.my-button {
  background-color: rgba(137, 157, 139, 0.8);
  border-radius: 25px;
  margin: 0 auto 12px auto;
}

.my-button i {
  font-size: 32px;
  color: rgb(13, 141, 66);
}

.name {
  margin-top: 30px;
}

.p-4 label {
  display: flex;
  justify-content: center;
  align-items: center;
  color: transparent;
}

.rating {
  display: flex;
  // flex-direction: column;
  justify-content: center;
  align-items: center;
  direction: rtl;
	unicode-bidi: bidi-override;
	color: #ddd; /* Personal choice */
}
.rating input {
	display: none;
}
.rating label:hover,
.rating label:hover ~ label,
.rating input:checked + label,
.rating input:checked + label ~ label {
	color: #e3e31ce8; /* Personal color choice. Lifted from Bootstrap 4 */
}

.watering {
  display: flex;
  // flex-direction: column;
  justify-content: center;
  align-items: center;
	direction: rtl;
	unicode-bidi: bidi-override;
	color: #ddd; /* Personal choice */
}

.watering input {
	display: none;
}
.watering label:hover,
.watering label:hover ~ label,
.watering input:checked + label,
.watering input:checked + label ~ label {
	color: #50aeed; /* Personal color choice. Lifted from Bootstrap 4 */
}

.temperature {
  display: flex;
  // flex-direction: column;
  justify-content: center;
  align-items: center;
	direction: rtl;
	unicode-bidi: bidi-override;
	color: #ddd; /* Personal choice */
}

.temperature input {
	display: none;
}
.temperature label:hover,
.temperature label:hover ~ label,
.temperature input:checked + label,
.temperature input:checked + label ~ label {
	color: red; /* Personal color choice. Lifted from Bootstrap 4 */
}

.photo-container {
  padding: 8px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.optional .form-label {
 text-align: center;
 margin: 0 auto;
 display: block;
 font-size: 16px;
}

.plant-photo {
  margin: 0 auto;
  text-align: center;
  height: 40px;
  width: 200px;
  border-radius: 12px;
}

.rating,
.watering,
.temperature {
  margin: 0 auto;
  margin-bottom: 12px;
}

.input-form-new-plant .string {
  margin: 4px auto;
}
