<div class="iphone-13-pro-max-5screen">
  <div class="overlap-group">
    <div class="top-banner-image">
      <img
      class="rectangle-63"
      src="https://anima-uploads.s3.amazonaws.com/projects/6310ae746d0125081c2cbfc6/releases/6310ae7ba6fbd0d14fab336f/img/rectangle-63@1x.png">
    </div>
    <div class="user-profile-card">
      <img
      class="rectangle-1"
      src="https://anima-uploads.s3.amazonaws.com/projects/6310ae746d0125081c2cbfc6/releases/6310ae7ba6fbd0d14fab336f/img/rectangle-1@1x.png">
    </div>
    <div>
      <img
      class="user-name"
      src="https://anima-uploads.s3.amazonaws.com/projects/6310ae746d0125081c2cbfc6/releases/6310ae7ba6fbd0d14fab336f/img/yolanda@1x.png">
    </div>
    <div>
      <img
      class="frame-28"
      src="https://anima-uploads.s3.amazonaws.com/projects/6310ae746d0125081c2cbfc6/releases/6310ae7ba6fbd0d14fab336f/img/frame-28@1x.png">
    </div>
    <div>
      <img
      class="ellipse-1"
      src="https://anima-uploads.s3.amazonaws.com/projects/6310ae746d0125081c2cbfc6/releases/6310ae7ba6fbd0d14fab336f/img/ellipse-1@1x.png">
    </div>
    <div>
      <img
      class="group-40"
      src="https://anima-uploads.s3.amazonaws.com/projects/6310ae746d0125081c2cbfc6/releases/6310ae7ba6fbd0d14fab336f/img/group-40@1x.png">
    </div>

  </div>
</div>
