<div class="content">
  <div class="image">
  <img  class="image" src=../assets/images/fukayamamo-BBmyspFyRWs-unsplash />

  <%# <%= cl_image_tag plant.photo.key, :transformation=>[
  {:effect=>"trim"},
  {:width=>"296", :height=>"300", :crop=>"lpad"},
  {:border=>"4px_solid_gold"}
  ] %>
<% if mark.present? %>
  <p>🕳</p>
  <% else %>
    <%= render "marks/form", plant: plant, mark: mark %>
  <% end %>
    <h2><%=link_to plant.name, plant_path(plant)%></h2>
  </div>
</div>
