<div class="middler">

<%# <% mark.plant_id = plant.id %>
<%# <%= render "marks/form", plant: @plant, mark: @mark %>


<%# <div class="card-trip">
  <img src="https://images.unsplash.com/photo-1491147334573-44cbb4602074?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1587&q=80" alt="" class="plant-image" >
  <div class="card-trip-infos">
    <div class="plant-name">
        <h2><%= @plant.name %></h2>
    <%# </div> %>
    <%# <div class="about-me">
      <h2>About Me</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, ad ipsam. Porro itaque nesciunt sunt necessitatibus blanditiis, repellat, ipsa illum maxime soluta accusantium, voluptatibus quo assumenda. Iste fuga ipsam fugit.</p>
    </div> %>
    <%# <div class="my-collection">
      <h2>My Collection</h2>
    </div> %>

  <%# </div>
</div> %>


  <div class="plant-card">
    <div class="plant-bg"></div>
    <div class="plant-actions">
      <div class="name-buttons">
        <div class="plant-name">
          <h2><%= @plant.name %></h2>
        </div>
        <div class="buttons-container">
          <i class="fa-regular fa-heart fa-3x"></i>
          <i class="fa-regular fa-compass fa-3x"></i>
          <img class="avatar-bordered-marks" alt="avatar-bordered" src="https://kitt.lewagon.com/placeholder/users/sarahlafer" />
        </div>
      </div>
      <%# <div class="avatar-container">
      </div> %>
    </div>

  </div>

</div>
