<div class="middler">
  <div class="plant-card">
    <div class="plant-bg"></div>
    <div class="plant-actions">
      <div class="name-buttons">
        <div class="plant-name">
          <h2><%= @plant.name %></h2>
        </div>
        <div class="buttons-container">
          <i class="fa-regular fa-heart fa-3x"></i>
          <i class="fa-regular fa-compass fa-3x"></i>
          <img class="avatar-bordered-marks" alt="avatar-bordered" src="https://kitt.lewagon.com/placeholder/users/sarahlafer" />
        </div>
      </div>
      <%# <div class="avatar-container">
      </div> %>
    </div>
  </div>
</div>
