.chatrooms-index-card {
  overflow: hidden;
  background: #ccd7ce;
  margin: 30px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 40px;
}

.chats-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.chatroom-infos {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  height: 120px;
  background: #ccd7ce;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 0 3%;
  width: 100%;
}

  .chatroom-infos i {
    height: 100%;
    padding: 0 3%;
    object-fit: cover;
    display: flex;
    align-items: center;
    font-size: 48px;
    opacity: .7;
    color: green;
    border-radius: 50%;
    transition: background-color 0.3s, box-shadow 0.3s;
    padding: 4px;
  }

  .chatroom-infos i:hover {
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }

.chatroom-name {
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: clamp(8px, 4vw, 20px);
  display: flex;
  align-items: center;
  width: 16%;
  margin: 0 2%;
}

.chatroom-infos h6 {
  font-size: clamp(8px, 5vw, 24px);
  opacity: .7;
  margin: 0 auto;
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  align-items: center;
  color: rgb(172, 20, 219);
}

.chatroom-infos h5 {
  font-size: clamp(8px, 3vw, 18px);
  opacity: .7;
  margin: 0 auto;
  font-family: 'Ubuntu', sans-serif;
  font-style: italic;
  width: 30%;
}
