.iphone-13-pro-max-5 {
  background-image: url("background.jpeg");

}

.hidden,
.hidden * {
  pointer-events: none;
  visibility: hidden;
}

.overlap-group {
  position: relative;

}

.frame-32 {
  left: 1px;
  position: absolute;
  top: 849px;
}

.group-40 {
  left: 50px;
  position: absolute;
  top: 335px;
}

.frame-28 {
  left: 65px;
  position: absolute;
  top: 470px;
}

.yolanda {
  left: 215px;
  position: absolute;
  top: 190px;
}

.rectangle-1 {

}

.ellipse-1 {
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 24px;
}

.rectangle-63 {



}
