.navbar-lewagon {
  justify-content: space-between;
}
.navbar-sprouts {
  background-color: #82935D;
}
.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-default {
  background-color: #82935D;
  border-color: #E7E7E7;
}
