.login-page-main{
  margin: 0 auto;
  padding: 20px;
  font-family: 'Ubuntu', sans-serif;
  background: rgba(204, 215, 206, 1);
  border-radius: 25px;
  width: 260px;
  height: 360px;
  border: rgb(3, 105, 3);
}

.login-all {
  border: 6px solid rgba(0, 128, 0, 0.309);
  border-radius: 16px;
  margin: 20px auto;
  max-width: 600px;
  width: 90%;
  max-height: 540px;
}

.form-inputs {
  width: 220px;
}

.nav-item .nav-link {
  font-family: 'Ubuntu', sans-serif;
  font-size: 24px;
  color: white;
}

.form-control {
  border-radius: 18px 0 18px 0px;
  font-family: 'Ubuntu';
  height: 36px;
  padding: 6px 12px;
}
