
ul {
  padding: 0px;
}

.log-out{
  opacity: 0.5;
  font-size: 12px;
}

#username {
  padding: 4px 10px;
}

.my-collection {
margin: 4px 0;
display: flex;
flex-direction: column;
align-items: center;
}

.carousel-inner{
  border: 5px solid #718272;
  border-radius: 20pc;
}

.about-me {
 margin: 10px;
}

.about-me-edit {
  margin: 10px 0;
  h3 {
    padding: 6px 12px;
  }
 }

.btn-success {
  border-radius: 6px;
  font-family: 'Ubuntu', sans-serif;
  color: white;
  background-color: #0b4e2f;
  margin: 0px auto;
}

.card-trip {
  overflow: hidden;
  overflow-y: auto;
  background: rgba(204, 215, 206, 1);
  margin: 26px auto;
  padding: 20px 20px;
  max-width: 82vw;
  height: calc(100vh - 110px);
  min-height: 400px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

}

.profile {
  flex-grow: 1;  // Takes up all available space
}

.profile > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.card-trip > .banner-img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.card-trip h2 {
  font-weight: bold;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  color: rgb(174, 37, 174)
}

.card-trip h3 {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  color: white;
}


.card-trip {
  p {
  font-size: 16px;
  opacity: .7;
  font-family: 'Ubuntu', sans-serif;
  padding: 3px 0;
  width: 70%;
  }
  h2 {
    font-family: 'Helvetica';

  }
}

.card-trip .card-trip-infos {
  padding: 16px 4px;
  justify-content: space-between;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 12px;
  top: -50px;
  width: 100px;
  height: 100px;
  border-radius: 40%;
  border: whitesmoke solid 3px;
}

.card-trip-infos .list-inline {
  display: flex;
  align-items: center;
}

.list-inline i {
  font-size: 24px;
  padding: 10px 2px;
  color: grey;
}

.list-inline i:hover {
  font-size: 24px;
  padding: 10px 2px;
  color: whitesmoke;
}

.grid-gallery {
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
  // gap: 2rem;
  max-width: calc(100px * 3 + 2rem);
  margin: 0 auto;
}

@media (min-width: 420px) {
  .grid-gallery {
    grid-template-columns: repeat(3, minmax(100px, 1fr));
  }
}

.grid-item {
  width: 100px;
  height: 100px;
  margin: 0 5px;
}

.row-item {
  position: relative;
  width: 100px;
  height: 100px;
}

.thumbnail-border {
  border: 2px solid #8bc34a;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 2px;
  background-color: #fff;
}

.thumbnail-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 3px;
}

.btn-sunny {
  padding: 1px 0px;
  border-radius: 12px 12px 100% 100%;
  width: 84px;
  margin: 0 auto;
  height: 28px;
  background-color: rgba(255, 183, 0, 0.245);
  font-family: 'Ubunto', sans-serif;
  font-size: 16px;
  /* float: right; */
  position: absolute;
  bottom: 0px;
  left: 4px;
  text-align: center;
  color: whitesmoke;
}

.btn-sunny:hover {
  padding: 1px 0px;
    border-radius: 12px 12px 100% 100%;
    width: 84px;
    margin: 0 auto;
    height: 28px;
    background-color: rgba(239, 202, 110, 0.362);
    font-family: 'Ubunto', sans-serif;
    font-size: 16px;
    /* float: right; */
    position: absolute;
    bottom: 0px;
    left: 4px;
    text-align: center;
    color: white;
}

textarea .form-control {
  height: 200px;
  width: 300px;
}


.form-control-description {
  border-radius: 24px 0 0 24px;
  font-family: 'Ubuntu';
  height: 200px;
  width: 70vw;
  padding: 6px 12px;
}

.form-control-username {
  border-radius: 24px 36px 0 24px;
  font-family: 'Ubuntu';
  height: 36px;
  padding: 6px 12px;
  width: 180px;
  border: none;
}

#add-plant-button {
  margin: 12px auto;
}

.sign-out-button {
  color: whitesmoke;
  background-color: transparent;
  border: none;
  float: right;
  font-size: 16px;
  font-family: 'Dosis', sans-serif;
}

.sign-out-button:hover {
  background-color: transparent;
  color: white;
  border: none;
  float: right;
  font-size: 16px;
  font-family: 'Dosis', sans-serif;
}
