// #user-profile{
//   border-radius: 25px;
// }
// #user-image{
//   border-radius: 25px;
// }
// .profile-head {
//   transform: translateY(5rem)
// }

// .cover {
//   background-image: url(https://images.unsplash.com/photo-1610639380038-912611f4436f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8cGxhbnRzJTIwJTJCJTIwZXhjaGFuZ2V8ZW58MHx8MHx8&auto=format&fit=crop&w=800&q=60);
//   background-size: cover;
//   background-repeat: no-repeat
// }

// .profile {
//   border-radius: 20px;
// }
// #user-name {
//   font-weight: 200;
// }
.user-plants-collection{
  margin: 20px;
  scroll-behavior: smooth;
  overflow-y: scroll;

}
#username {
  font-size: 30px;
  padding: 20px;
}
.my-collection {
margin: 10px;
}
.about-me {
 margin: 10px;
}
.card-trip {
  overflow: hidden;
  background: rgba(204, 215, 206, 1);
  margin: 30px;
  height: 750px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 25px;
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.card-trip h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;

}

.card-trip p {
  font-size: 16px;
  opacity: .7;
  margin: 10px;
  width: 250px;
  font-family: 'Ubuntu', sans-serif;

}


.card-trip .card-trip-infos {
  padding: 16px;
  justify-content: space-between;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 100px;
  height: 100px;
}
