.navbar-nav me-auto {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.navbar {
  display: flex;
  background: #798d7b;
  justify-content: space-between;
  border-radius: 24px 24px 0 0;
  position: fixed;
  width: 100vw;
  bottom: 0px;
}

.wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

ul li {
  margin:5px;
  padding: 0;
}

.nav-item {
  .fa-solid {
    color: #112525;
  }
}
