.navbar-nav me-auto {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.navbar {
  display: flex;
  background: #798d7b;
  justify-content: space-between;
  border-radius: 24px 24px 0 0;
  position: sticky;
  width: 100vw;
  bottom: 0px;
  z-index: 1;
  --bs-navbar-brand-margin-end: 0 !important;
}

.wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

li {
  margin:3px !important;
  padding: 0;
  text-align: -webkit-match-parent;
}

ul {
  padding: 10px;
  width: 400px;
  margin: 0 auto;
  justify-content: space-around;

}

.nav-item {
  .fa-solid {
    color: whitesmoke;
    margin: 2px;
    --bs-gutter-x: 0.5rem;
    font-size: x-large;
  }
}
